name: Build Nightly CI images
on:
  push:
    branches:
      - main
  schedule:
     - cron: '0 0 * * *'

jobs:
  build_base_image_and_push:
    name: Push container image to quay.io
    environment: CI
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        os:
          - fedora
            #    - centos
            #    - opensuse
            #    - ubuntu
            #    - debian
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Push base images to quay.io
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Containerfile.${{ matrix.os }}
          no-cache: true
          push: true
          tags: quay.io/389ds/ci-images:${{ matrix.os }}

  build_flavored_image_and_push:
    name: Push flavored container image to quay.io
    needs: build_base_image_and_push
    environment: CI
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        flavor:
          - test
          - scan
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Login to Registry
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Push base images to quay.io
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Containerfile.${{ matrix.flavor }}
          no-cache: true
          push: true
          tags: quay.io/389ds/ci-images:${{ matrix.flavor }}
